<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.logindemo">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/park"
        android:label="Smart Parking"
        android:roundIcon="@mipmap/park"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginDemo">
        <activity android:name=".doneInterface2"></activity>
        <activity android:name=".doneInterface" />
        <activity
            android:name=".WriteFeedback"
            android:screenOrientation="portrait" />
        <activity
            android:name=".aboutus2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CouponForm"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BookingForm"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewReceipt"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ContactUs"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutUs"
            android:screenOrientation="portrait" />
        <activity
            android:name=".splashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UpdatePassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UpdateProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SecondActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>